<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>10184879165-leqilc2ffvfduiig6lu3lpsg0t99rbsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10184879165-leqilc2ffvfduiig6lu3lpsg0t99rbsi</string>
	<key>API_KEY</key>
	<string>AIzaSyAzLIVwSVfVoU6BBWWQKdIXvM0ccLFCYhM</string>
	<key>GCM_SENDER_ID</key>
	<string>10184879165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.masahiro.odakura.ohgiri-app</string>
	<key>PROJECT_ID</key>
	<string>ohgiri-ee106</string>
	<key>STORAGE_BUCKET</key>
	<string>ohgiri-ee106.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10184879165:ios:a76530f63e0181e4</string>
	<key>DATABASE_URL</key>
	<string>https://ohgiri-ee106.firebaseio.com</string>
</dict>
</plist>